body{
    background-attachment: fixed;
    background-size: cover;
    background-color:#FFFFFF;
    padding-bottom:1%;
}

.my-back {
	background-image: url("../img/raveblue.png");
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottompad {
	margin-bottom: 100px;
}

column-img {
	float: left;
}
column-head {
	font-family: 'Kameron', sans-serif;
	margin-top: 10px;
	float: right;
}
column-text {
	font-family: 'Kameron', sans-serif; 
	margin-top: 25px;
	float: right;
}